.profileBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  text-align: left;
  line-height: 24px;
  padding: 40px 0px;
}

.flexBox.Large {
  display: flex;
  gap: 18px;
  align-items: center;
}

.avatar {
  width: 72px;
  height: 72px;
  background-color: var(--color-light-bg);
  border-radius: 56%;
}

.email {
  font-weight: 500;
}

.username {
  font-size: 16px;
  padding-top: 4px;
}

.logoutBtn {
  color: var(--color-text-level0);
  font-size: 14px;
  text-decoration: underline;
}

.logoutBtn:hover,
.logoutBtn:focus {
  color: var(--color-active);
}
