:root {
  --color-active: #292b2c;
  --color-warning: #ff4d4d;
  --color-light-bg: #f2f2f2;
  --color-border-light: lightgray;
  --color-text-level0: #808080;
  --color-text-level1: #696969;
  --color-blue: #2563eb;
  --color-white: #ffffff;
  --color-bg: #ffffff;
  --color-text: #22243b;
}

html.dark {
  --color-active: #ffffff;
  --color-warning: #ff4d4d;
  --color-light-bg: #5c5c5c;
  --color-border-light: lightgray;
  --color-text-level0: #dddddd;
  --color-text-level1: #bdbdbd;
  --color-blue: #2563eb;
  --color-white: #ffffff;
  --color-bg: #292929;
  --color-text: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
}

#root {
  transition: all 0.25s linear;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  letter-spacing: -0.01em;
  color: #292b2c;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0px;
}

p {
  margin: 0px;
}

button {
  outline: none;
  border: none;
}
