/* footer */
.footer {
  background-color: var(--color-light-bg);
  min-height: 40px;
  padding: 20px 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer a {
  color: var(--color-text-level0);
}

.footer a:focus,
.footer a:hover {
  color: var(--color-active);
}
